*{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: wheat;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}
.nav li{
  list-style-type: none;
  display: inline;
}
.nav li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
}
.carrito{
  color: white;
}
.Main-tittle{
  background-color:black;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0;
}
.Main-tittle a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.ProductsTittle{
  text-align: center;
}
.card{
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(194, 194, 194);
}
.card__body{
  text-align: center;
  font-size: 17px;
}
.card__body img{
  border-radius: 20px;
}
.card__count{
  text-align:center;
  margin-right: 20px;
  margin-left: 20px;
}
.card__count h5{
  border: 1px solid black;
  border-radius: 6px;
  font-size: 20px;
}
.card__count__btn{
  padding: 10px;
}
.card__count__btn button{
  border: 1px solid black;
  border-radius: 200px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
.btn__red{
  background-color:rgb(255, 137, 137);
}
.btn__green{
  background-color:rgb(141, 253, 141);
}
.card__btn{
  padding: 15px;
  border: 1px solid black;
  background-color:white;
}
.card__btn:hover{
  cursor: pointer;
  background-color:rgb(248, 233, 98);
  transition: 1.1s;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}
